
body{
    font-family: sans-serif;
}
.big-box{
    background-color: rgb(217, 211, 211);
    padding: 0 20px;
    
}
h1,p{
    
    text-align: center;
}
h1{
    padding-top: 50px;
}
.medium-box{
    background-color: white;
    width: 95% ;
   
    margin: 0 12px;
    padding-bottom: 10px;
    
}
img{
    width: 70%;
    min-width: 200px;
    margin: 5px 15%;
    
}
.medium-box p{
    font-size: 6px;
    margin-top: 0;
}
.time-line{

   margin: 0 50px;
   max-width: 400px;
   padding: 10px 20px;
   
  
}
.time-line h5{
    text-align: center;
}
.time-line > ul > li{
    font-size: 11px;
    padding: 10px 0;
    
}
.note{
    font-size: 11px;
    text-align: left;
    padding-left: 3em;
    padding-top: 10px;
}
footer h5{
    padding-left: 3em;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 4em;
    
}